
.view-content {
  max-width: 60rem;
  margin: 0 auto
}

.app-header {
  border-bottom: 1px solid $color-light;
  padding: 1rem;
  @include clearfix;

  .app-logo {
    float: left;
    font-size: 2rem;
  }

  .user {
    float: right;
    text-align: right;
  }

  .main-nav {

  }

  .app-logo {
    display: inline-block;
    margin: 0;
    height: 4rem;
    line-height: 4rem;
    vertical-align: middle;
  }

  .display-name {
    font-size: 1.4rem;
    display: inline-block;
  }

  .nav-avatar {
    width: 3.5rem;
    border-radius: 20rem;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

    img {
      display: block;
      width: 100%;
    }
  }
}



.form-signin {

  input, button {
    display: block;
    width: 100%;
    margin: 0 0 1rem 0;
  }
}


.form-new-post{
  display: flex;
  padding: 2rem 0;

}
.input-new-post{
  display: block;
  flex: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-new-post{
  width: 4.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
  margin-left: -.1rem;

  &:hover {
    box-shadow: none;
  }
}



.post {
  padding: 2rem 0;
  @include clearfix;
  border-top: .1rem solid $color-light;
}

.author-avatar {
  width: 4rem;
  border-radius: 200rem;
  overflow: hidden;
  float: left;

  img {
    display: block;
    width: 100%;
  }
}

.post-block {
  margin-left: 5rem;
}

.post-meta {
  font-size: 1.4rem;
}
.author-display-name {
  font-weight: bold;
}
.author-user-name {
  color: $color-medium;
}
.post-timestamp {
  font-weight: 200;
  color: $color-medium;
}

.post-body {
  margin: 0;
}

.btn-delete {
  float: right;
}
